/*  root pseudo class selector. matches the html element */
:root {
  /* define the color variables to access them later in the code */
  --color-primary: rgba(250, 40, 88, 0.8);
  --color-secondary: rgb(214, 178, 88);
  --color-accent: #2584ff;
  --color-headings: #1b0760;
  --color-body: #918ca4;
}
