<blockquote class="quote">
    <p class="quote__text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos maiores velit nemo excepturi. Molestiae vel rerum adipisci laboriosam cupiditate minus!
    </p>
    <footer>
     <div class="media">
         <div class="media__image">
                 <img class="icon icon--primary quote__line" src="icons/line.svg" alt="">
         </div>
         <div class="media__body">
             <h3 class="media__title quote__author">John Doe</h3>
             <p class="quote__company">
                 ABC Company
             </p>
         </div>
     </div>
    </footer>
</blockquote>